<h1 class="page-title"> Write a Code Analogy </h1>

<div class="page-content">
  <form class="story-form" method="POST" action="/create">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <div class="form-group" style="display: inline-block">
      <input type="text" name="technology" placeholder="technology"> </input>
    </div>
    <span class="form-group"> is like </span>
    <div class="form-group" style="display: inline-block">
      <input type="text" name="comparison" placeholder="comparison"> </input>
    </div>
    <span class="form-group"> because </span>
    <div class="form-group" style="display: inline-block">
      <input type="text" name="explanation" placeholder="explanation"> </input>
    </div>
    <button type="submit"> Submit </button>
  </form>
</div>
