<h1 class="page-title"> Code Analogies </h1>

<div class="page-content">
  <div class="story-wrapper">
    <div class="text-wrapper">
      <h2 class="story-var" style="display: inline-block"> A     </h2> is like
      <h2 class="story-var" style="display: inline-block"> B     </h2> because
      <h2 class="story-var" style="display: inline-block"> STORY </h2>
    </div>
    <a href="/new" style="display: block"> Write your own!   </a>
    <a href="/all" style="display: block"> See all analogies </a>
  </div>
</div>
